.list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.item {
    display: flex;
    flex-direction: column;

    align-items: center;


    width: 150px;
    height: 150px;
   
}

.number {
    font-size: 18px;
    font-weight: 600;
}

.text {
    font-size: 18px;
    font-weight: 500;

}