

.Feedback__optionsList{
    list-style: none;
    display: flex;
    gap: 20px;
}

.Feedback__btn{
    
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;

    background-color: darkcyan;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;

    cursor: pointer;
    
}
